<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.mapper.BoardMapper">

 	<resultMap type="BoardVo" id="getBoardlSelect">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="num" column="num"/>
		<result property="total_num" column="total_num"/>
		<result property="create_id" column="create_id"/>
	</resultMap> 

 	<insert id="addBoard" parameterType="BoardVo">
        INSERT INTO board (
        	id,
            name,
            total_num
        ) VALUES (
        	nextval('board_id'),
            #{name},
            #{total_num}
        )
    </insert>
    
    <select id="getBoardList" resultType="BoardVo" resultMap="getBoardlSelect">
    	select
    		id,
    		name,
    		num,
    		total_num,
    		create_id
    	from board
    </select>

	<select id="getBoardDetail" resultType="BoardVo" resultMap="getBoardlSelect" parameterType="BoardVo">
    	select
    		id,
    		name,
    		num,
    		total_num,
    		create_id
    	from board
    	where id = #{id}
    </select>

    <update id="editBoard" parameterType="BoardVo">
        UPDATE board
        SET 
            name = #{name},
            total_num = #{total_num},
            update_date = now()
        WHERE id = #{id}
    </update>
    
    <delete id = "deleteBoard" parameterType="BoardVo">
        DELETE FROM board WHERE id = #{id}
    </delete>

</mapper>